{# USES
   {% include "/partials/builder/modules-global/blg_contact.twig" with {
      all_fields    : {},
      padding        : '',
      id            : '',
      toggle_heading: false,
      toggle_page_teaser: false,
   } %}
#}
{% if toggle_heading %}
   {% set section_heading      = all_fields.headings.heading %}
   {% set section_heading_type = all_fields.headings.heading_type %}
   {% set section_label        = all_fields.headings.toggle_label ? all_fields.headings.label.choices : false %}
{% endif %}

{% if toggle_page_teaser %}
   {% set page_link_1 = all_fields.page_links.page_link_1 %}
   {% set page_link_2 = all_fields.page_links.page_link_2 %}
{% endif %}

{% set global_settings    = fn('get_field', 'options_page_contact', 'acf_options') %}
{% set footer_heading     = all_fields.heading.heading_top ? all_fields.heading.heading_top : global_settings.heading.heading_top %}
{% set footer_heading_sub = all_fields.heading.heading_sub ? all_fields.heading.heading_sub : global_settings.heading.heading_sub %}
{% set footer_text        = all_fields.heading.text ? all_fields.heading.text : global_settings.heading.text %}
{% set address            = global_settings.contact.address %}
{% set phone              = global_settings.contact.phone %}
{% set footer_button_1    = all_fields.button_1 ? all_fields.button_1 : global_settings.contact.button_1 %}
{% set footer_button_2    = all_fields.button_2 ? all_fields.button_2 : global_settings.contact.button_2 %}
{% set card_image         = all_fields.image ? all_fields.image : global_settings.image %}


<div class="container-wrapper position-relative {{ padding }}{% if section_arrow %} mb-large{% endif %}">
   <div class="container" {% if id %}id="{{ id }}"{% endif %}>

      <section class="blg_contact">
         <div class="row">
            <div class="col-12">
               {% if toggle_heading %}
                  {% include "/partials/modules/m_section-heading.twig" with {
                     heading: section_heading,
                     heading_type: section_heading_type,
                     label: section_label,
                  } %}
               {% endif %}
            </div>
         </div>

         {% if toggle_page_teaser %}
            <div class="row">
               <div class="col-12 col-md-6 mb-200 mb-md-600 d-flex align-items-stretch">
                  <a href="{{ page_link_1.link.url }}" target="{{ page_link_1.link.target }}" class="blg_contact__page-link h2 sr-1">
                     {{ page_link_1.link.title }}
                  </a>
               </div>
               <div class="col-12 col-md-6 mb-400 mb-md-600 d-flex align-items-stretch">
                  <a href="{{ page_link_2.link.url }}" target="{{ page_link_2.link.target }}" class="blg_contact__page-link h2 sr-1">
                     {{ page_link_2.link.title }}
                  </a>
               </div>
            </div>
         {% endif %}

         <div class="row">
            <div class="col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 mb-200 mb-sm-200 mb-md-500 mb-lg-0 sr-1">
               <div class="blg_contact__left px-200 px-sm-300 px-md-350 pt-200 pt-md-250 pb-250 pb-md-300">
                  <header class="mb-200">
                     <p class="blg_contact__heading mb-0">{{ footer_heading }}</p>
                     {% if footer_heading_sub %}
                        <span class="h4 t-c3-main mb-0">{{ footer_heading_sub }}</span>
                     {% endif %}
                  </header>

                  <p class="p1 mb-200">{{ footer_text }}</p>
                  <ul class="blg_contact__list">
                     <li>
                        <svg class="icon t-c-white mr-50 mr-md-100"><use href="#icon-dreiqbik-quader" xlink:href="#icon-dreiqbik-quader"/></svg>
                        <a href="https://goo.gl/maps/uV9sMuWzRQGuWuai8" class="blg_contact__link link link-second link1-second mb-100">{{ __( 'Auf Google Maps finden', 'wptd' ) }}</a>
                     </li>
                     <li>
                        <svg class="icon t-c-white mr-50 mr-md-100"><use href="#icon-dreiqbik-quader" xlink:href="#icon-dreiqbik-quader"/></svg>
                        <a href="tel:{{ phone }}" class="blg_contact__link link link-second link1-second mb-100">{{ phone }}</a>
                     </li>
                  </ul>
                  <div class="blg_contact__buttons">
                     {% if footer_button_1 %}
                        <a href="{{ footer_button_1.url }}" class="btn btn1-main" target="{{ footer_button_1.target }}"><span class="btn-text">{{ footer_button_1.title }}</span></a>
                     {% endif %}
                     {% if footer_button_2 %}
                        <a href="{{ footer_button_2.url }}" class="btn btn1-main" target="{{ footer_button_2.target }}"><span class="btn-text">{{ footer_button_2.title }}</span></a>
                     {% endif %}
                  </div>

                  <span class="m_shadow m_shadow--front-c2-main m_shadow--back-c4-main"></span>
               </div>

            </div>
            <div class="col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 d-flex align-items-stretch sr-1">

               <div class="blg_contact__right px-200 px-sm-300 px-md-350 pt-200 pt-md-250 pb-250 pb-md-300" style="background-image: url({{ card_image.url }});">
                  <div class="blg_contact__social">
                     {% for item in global_settings.social %}
                        <a href="{{ item.link.url }}" target="{{ item.link.target }}" class="btn btn2-main" aria-label="{{ __( 'Dieses Icon verlinkt auf unsere Social Media Kanäle', 'wptd' ) }}" rel="noopener" rel="noreferrer"><span class="btn-text"><svg class="icon icon--medium t-c-white"><use href="{{ item.icon }}" xlink:href="{{ item.icon }}"/></svg></span></a>
                     {% endfor %}
                  </div>

                  <span class="m_shadow m_shadow--front-c2-main m_shadow--back-c4-main"></span>
               </div>

            </div>
         </div>

         {% if section_arrow %}
            {% include "/partials/modules/m_section-arrow.twig" with {
               anchor: all_fields.section_arrow_anchor,
               icon_light: true,
            } %}
         {% endif %}
      </section>

   </div>
   {% include "/partials/modules/m_section-bg-image.twig" with {
      bg_image_large: bg_image_large,
      bg_image_medium: bg_image_medium,
      bg_image_small: bg_image_small,
   } %}
</div>
