{# USES
   {% include "/partials/builder/modules-global/blg_intro-box.twig" with {
      all_fields: {},
      padding: '',
      id: '',
      toggle_heading  : false,
      section_arrow   : false,
      label           : '',
      heading         : '',
      heading_type    : '',
      heading_sub     : '',
      heading_sub_type: '',
      text            : '',
      buttons         : {},
   } %}
#}
{% if buttons.button_1 %}
   {% set button_1 = buttons.button_1 %}
{% endif %}
{% if buttons.button_2 %}
   {% set button_2 = buttons.button_2 %}
{% endif %}

{% if toggle_heading %}
   {% set section_heading = all_fields.headings.heading %}
   {% set section_heading_type = all_fields.headings.heading_type %}
   {% set section_label        = all_fields.headings.toggle_label ? all_fields.headings.label.choices : false %}
{% endif %}

<div class="container-wrapper position-relative {{ padding }}{% if section_arrow %} mb-large{% endif %}">
   <div class="container container--narrow position-relative" {% if id %}id="{{ id }}"{% endif %}>

      <section class="blg_intro-box">
         {% if toggle_heading %}
            {% include "/partials/modules/m_section-heading.twig" with {
               heading: section_heading,
               heading_type: section_heading_type,
               label: section_label,
            } %}
         {% endif %}

         <div class="blg_intro-box__content pt-200 pt-md-250 pb-250 pb-md-300 px-200 px-sm-300 px-md-350 sr-1 position-relative">
            <header class="blg_intro-box__header mb-150">
               {% if heading_sub %}
                  <{{ heading_sub_type|default("p") }} class="h4 t-c3-main mb-0">{{ heading_sub }}</{{ heading_sub_type|default("p") }}>
               {% endif %}
               <{{ heading_type|default("h2") }} class="h2">{{ heading }}</{{ heading_type|default("h2") }}>
            </header>

            <div class="blg_intro-box__text tinymce mb-200">{{ text }}</div>

            {% if buttons.button_1 or buttons.button_2 %}
               <div class="blg_intro-box__buttons">
                  {% if buttons.button_1 %}
                     <a href="{{ button_1.url }}" class="btn btn1-main"><span class="btn-text">{{ button_1.title }}</span></a>
                  {% elseif buttons.button_2 %}
                     <a href="{{ button_2.url }}" class="btn btn1-main"><span class="btn-text">{{ button_2.title }}</span></a>
                  {% endif %}
               </div>
            {% endif %}

            <div class="m_shadow m_shadow--front-c2-main m_shadow--back-c4-main"></div>
         </div>
      </section>
   </div>

   {% include "/partials/modules/m_section-bg-image.twig" with {
      bg_image_large: bg_image_large,
      bg_image_medium: bg_image_medium,
      bg_image_small: bg_image_small,
   } %}

   {% if section_arrow %}
      {% include "/partials/modules/m_section-arrow.twig" with {
         anchor: all_fields.section_arrow_anchor,
         icon_light: true,
      } %}
   {% endif %}
</div>
