{# USES
   {% include "/partials/builder/modules-global/blg_logos.twig" with {
      all_fields    : {},
      padding        : '',
      id            : '',
      toggle_heading: false,
      section_arrow: false,
      logos        : {},
      toggle_page_link: false,
   } %}
#}
{% if toggle_heading %}
   {% set section_heading = all_fields.headings.heading %}
   {% set section_heading_type = all_fields.headings.heading_type %}
   {% set section_label        = all_fields.headings.toggle_label ? all_fields.headings.label.choices : false %}
{% endif %}
{% if toggle_page_link %}
   {% set page_link = all_fields.page_link %}
{% endif %}

<div class="container-wrapper position-relative {{ padding }}{% if section_arrow %} mb-large{% endif %}">
   <div class="container container--wide" {% if id %}id="{{ id }}"{% endif %}>

      <section class="blg_logos">
         <div class="row">
            <div class="col-12">
               {% if toggle_heading %}
                  {% include "/partials/modules/m_section-heading.twig" with {
                     heading: section_heading,
                     heading_type: section_heading_type,
                     label: section_label,
                  } %}
               {% endif %}
            </div>
         </div>

         <div class="row justify-content-center">
            {% for logo in logos %}
               {% set image         = logo.image                            %}
               {% set caption_image = logo.image_settings.truefalse_caption ? logo.image_settings.caption : image.alt %}
               <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-200 d-flex align-items-stretch{{ ' blg_logos__col--' ~ loop.index }}">

                  <div class="blg_logos__content px-200 px-sm-300 px-md-350 py-200 py-md-250 sr-1">
                     <img
                        class="blg_logos__img lazyload"
                        alt="{{ caption_image }}"
                        src="{{ theme.link }}/assets/img/placeholder-wide-small.png"
                        data-src="{{ image.sizes.medium }}"
                        data-srcset="{{ fn('wp_get_attachment_image_srcset', image.id) }}"
                        data-sizes="auto"
                     />

                     <span class="m_shadow m_shadow--front-c2-main m_shadow--back-c4-main"></span>
                  </div>

               </div>
            {% endfor %}
         </div>

         {% if page_link %}
            <div class="row mt-200 mt-md-300 mt-lg-400">
               <div class="col-12 t-center sr-1">
                  <a href="{{ page_link.url }}" target="{{ page_link.target }}" class="btn btn1-main btn--large"><span class="btn-text">{{ page_link.title }}</span></a>
               </div>
            </div>
         {% endif %}

         {% if section_arrow %}
            {% include "/partials/modules/m_section-arrow.twig" with {
               anchor: all_fields.section_arrow_anchor,
               icon_light: true,
            } %}
         {% endif %}
      </section>

   </div>
   {% include "/partials/modules/m_section-bg-image.twig" with {
      bg_image_large: bg_image_large,
      bg_image_medium: bg_image_medium,
      bg_image_small: bg_image_small,
   } %}
</div>
