{# USES
   {% include "/partials/builder/modules-global/blg_images-frontend.twig" with {
      all_fields    : {},
      padding       : '',
      id            : '',
      toggle_heading: false,
      section_arrow : false,
      text          : '',
      image_1       : {},
      images        : {},
   } %}
#}
{% if toggle_heading %}
   {% set section_heading = all_fields.headings.heading %}
   {% set section_heading_type = all_fields.headings.heading_type %}
   {% set section_label        = all_fields.headings.toggle_label ? all_fields.headings.label.choices : false %}
{% endif %}

<div class="container-wrapper position-relative {{ padding }}{% if section_arrow %} mb-large{% endif %}">
   <section class="blg_images-frontend" {% if id %}id="{{ id }}"{% endif %}>

      <div class="container mb-800 mb-md-1000">
         <div class="row">
            <div class="col-12">
               {% if toggle_heading %}
                  {% include "/partials/modules/m_section-heading.twig" with {
                     heading: section_heading,
                     heading_type: section_heading_type,
                     label: section_label,
                  } %}
               {% endif %}
            </div>
         </div>

         <div class="row align-items-stretch">
            <div class="col-12 col-md-6 mb-200 d-flex align-items-stretch">

               {% set image_1_caption = image_1_settings.truefalse_caption ? image_1_settings.caption : image.alt %}
               <figure class="blg_images-frontend__figure sr-1">
                  <img
                     class="lazyload"
                     alt="{{ image_1_caption }}"
                     src="{{ theme.link }}/assets/img/placeholder-wide-medium.png"
                     data-src="{{ image_1.sizes.large }}"
                     data-srcset="{{ fn('wp_get_attachment_image_srcset', image_1.id) }}"
                     data-sizes="auto"
                  />
               </figure>

            </div>
            <div class="col-12 col-md-6 mb-200 d-flex align-items-stretch">
               <div class="blg_images-frontend__text px-200 px-sm-300 px-md-350 py-200 py-md-250 d-flex align-items-center sr-1">
                  <div class="tinymce">{{ text }}</div>
                  <div class="m_shadow m_shadow--front-c2-main m_shadow--back-c4-main"></div>
               </div>
            </div>
         </div>
      </div>

      <div class="container container--wide mb-400 mb-sm-200">
         <div class="row">
            {% for item in images %}
               <div class="col-12 col-lg-8{% if loop.index is divisibleby(2) %} offset-lg-4{% endif %}">

                  {% set image_caption = item.image_settings.truefalse_caption ? item.image_settings.caption : item.image.alt %}
                  {% set class = loop.index is divisibleby(2) ? ' blg_images-frontend__figure--left' : ' blg_images-frontend__figure--right' %}

                  <figure class="blg_images-frontend__figure blg_images-frontend__figure--wide{{ class }}{% if not loop.last %} mb-200 mb-md-600{% endif %} sr-1">
                     <img
                        class="lazyload"
                        alt="{{ image_caption }}"
                        src="{{ theme.link }}/assets/img/placeholder-wide-medium.png"
                        data-src="{{ item.image.sizes.large }}"
                        data-srcset="{{ fn('wp_get_attachment_image_srcset', item.image.id) }}"
                        data-sizes="auto"
                     />
                  </figure>

               </div>
            {% endfor %}
         </div>
         <div class="m_shadow-container"></div>
      </div>

      <div class="container">
         {% if section_arrow %}
            {% include "/partials/modules/m_section-arrow.twig" with {
               anchor: all_fields.section_arrow_anchor,
               icon_light: true,
            } %}
         {% endif %}
      </div>

   </section>
   {% include "/partials/modules/m_section-bg-image.twig" with {
      bg_image_large: bg_image_large,
      bg_image_medium: bg_image_medium,
      bg_image_small: bg_image_small,
   } %}
</div>
