{# USES
   {% include "/partials/builder/modules-global/blg_team-teaser-big.twig" with {
      all_fields    : {},
      padding        : '',
      id            : '',
      toggle_heading: false,
      section_arrow: false,
      toggle_page_link: false,
   } %}
#}
{% if toggle_heading %}
   {% set section_heading = all_fields.headings.heading %}
   {% set section_heading_type = all_fields.headings.heading_type %}
   {% set section_label        = all_fields.headings.toggle_label ? all_fields.headings.label.choices : false %}
{% endif %}
{% if toggle_page_link %}
   {% set page_link = all_fields.page_link %}
{% endif %}

{% set global_settings = fn('get_field', 'options_page_contact', 'acf_options') %}
{% set teaser = global_settings.teaser %}
{% set team_teaser = global_settings.team_teaser %}
{% set apply_teaser = global_settings.apply_teaser %}


<div class="container-wrapper position-relative {{ padding }}{% if section_arrow %} mb-large{% endif %}">
   <div class="container" {% if id %}id="{{ id }}"{% endif %}>

      <section class="blg_team-teaser-big">
         <div class="row">
            <div class="col-12">
               {% if toggle_heading %}
                  {% include "/partials/modules/m_section-heading.twig" with {
                     heading: section_heading,
                     heading_type: section_heading_type,
                     label: section_label,
                  } %}
               {% endif %}
            </div>
         </div>

         <div class="row">
            {% for item in teaser %}
               {% set image   = item.image %}
               {% set caption = item.image_settings.truefalse_caption ? item.image_settings.caption : image.alt %}

               {% if loop.index == 1 %}
                  {% set grid_classes = 'col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-8 mb-200 mb-md-300 mb-lg-600' %}
               {% elseif loop.index == 2 %}
                  {% set grid_classes = 'col-12 offset-md-1 col-md-10 offset-lg-4 col-lg-8 mb-200 mb-md-300 mb-lg-600' %}
               {% else %}
                  {% set grid_classes = 'col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-8 mb-200 mb-md-500 mb-lg-800' %}
               {% endif %}

               <div class="{{ grid_classes }}">
                  <div class="blg_team-teaser-big__person sr-1">
                     {% if image %}
                        <figure class="blg_team-teaser-big__figure">
                           <img
                              class="lazyload img-cover"
                              alt="{{ caption }}"
                              src="{{ theme.link }}/assets/img/placeholder-square-small.png"
                              data-src="{{ image.sizes.medium }}"
                              data-srcset="{{ fn('wp_get_attachment_image_srcset', image.id) }}"
                              data-sizes="auto"
                              data-pos-x="2"
                              data-pos-y="0"
                           />
                        </figure>
                     {% else %}
                        {% if loop.index is divisibleby(2)  %}
                           {% set avatar_class = ' blg_team-teaser-big__avatar--even' %}
                           {% set name_class = ' blg_team-teaser-big__name--even' %}
                        {% else %}
                           {% set avatar_class = ' blg_team-teaser-big__avatar--odd' %}
                           {% set name_class = ' blg_team-teaser-big__name--odd' %}
                        {% endif %}

                        <figure class="blg_team-teaser-big__avatar{{ avatar_class }} is-animated-avatar">
                           {% if item.name == 'Joscha' %}
                              {% include '/svg/avatar-joscha.twig' %}
                           {% elseif item.name == 'Lennart' %}
                              {% include '/svg/avatar-lennart.twig' %}
                           {% elseif item.name == 'Moritz' %}
                              {% include '/svg/avatar-moritz.twig' %}
                           {% endif %}
                        </figure>
                     {% endif %}

                     <div class="blg_team-teaser-big__content pt-350 pt-md-400 pb-300 pb-md-350 px-200 px-sm-300 px-md-350">
                        <p class="blg_team-teaser-big__name{{ name_class }} label label-main label1-main">
                           <span>
                              {{ item.name }}
                              <span class="m_shadow m_shadow--front-c1-second m_shadow--back-c1-main"></span>
                           </span>
                        </p>
                        <p class="blg_team-teaser-big__heading">{{ item.text }}</p>
                        <div class="tinymce mb-200">{{ item.description }}</div>
                        <span class="p1 t-c3-main">Kontakt:&nbsp;</span>
                        <a href="mailto:{{ item.email }}" class="link link-second link1-second">{{ item.email }}</a>

                        <div class="m_shadow m_shadow--front-c2-main m_shadow--back-c4-main"></div>
                     </div>
                  </div>
               </div>
            {% endfor %}
         </div>

         <div class="row">
            <div class="col-12 offset-md-3 col-md-6 offset-xl-4 col-xl-4 mb-200">
               <div class="blg_team-teaser-big__card px-200 px-sm-300 px-md-350 py-200 py-md-250 sr-1">
                  <figure class="blg_team-teaser-big__avatar">
                     {% include '/svg/avatar-du.twig' %}
                  </figure>
                  <p class="p1 mb-200">{{ apply_teaser.text }}</p>
                  <a href="{{ apply_teaser.link.url }}" target="{{ apply_teaser.link.target }}" class="btn btn2-main"><span class="btn-text">{{ apply_teaser.link.title }}</span></a>

                  <div class="m_shadow m_shadow--front-c2-main m_shadow--back-c4-main"></div>
               </div>

            </div>
         </div>

         {% if page_link %}
            <div class="row mt-200 mt-md-300 mt-lg-400">
               <div class="col-12 t-center sr-1">
                  <a href="{{ page_link.url }}" target="{{ page_link.target }}" class="btn btn1-main btn--large"><span class="btn-text">{{ page_link.title }}</span></a>
               </div>
            </div>
         {% endif %}

         {% if section_arrow %}
            {% include "/partials/modules/m_section-arrow.twig" with {
               anchor: all_fields.section_arrow_anchor,
               icon_light: true,
            } %}
         {% endif %}
      </section>

   </div>
   {% include "/partials/modules/m_section-bg-image.twig" with {
      bg_image_large: bg_image_large,
      bg_image_medium: bg_image_medium,
      bg_image_small: bg_image_small,
   } %}
</div>
