{# USES
   {% include "/partials/builder/modules-global/blg_flip-cards.twig" with {
      all_fields    : {},
      padding       : '',
      id            : '',
      toggle_heading: false,
      section_arrow : false,
      cards         : {},
   } %}
#}
{% if toggle_heading %}
   {% set section_heading = all_fields.headings.heading %}
   {% set section_heading_type = all_fields.headings.heading_type %}
   {% set section_label        = all_fields.headings.toggle_label ? all_fields.headings.label.choices : false %}
{% endif %}

<div class="container-wrapper position-relative {{ padding }}{% if section_arrow %} mb-large{% endif %}">
   <div class="container" {% if id %}id="{{ id }}"{% endif %}>

      <section class="blg_flip-cards">
         <div class="row mb-200 mb-md-400">
            <div class="col-12">
               {% if toggle_heading %}
                  {% include "/partials/modules/m_section-heading.twig" with {
                     heading: section_heading,
                     heading_type: section_heading_type,
                     label: section_label,
                  } %}
               {% endif %}
            </div>
         </div>

         {% for item in cards %}
            <div class="row mb-400 mb-sm-600 mb-lg-1000">
               {% set heading        = item.heading %}
               {% set heading_type   = item.heading_type %}
               {% set front_text     = item.front_text %}
               {% set front_linkname = item.front_linkname %}
               {% set back_text      = item.back_text %}
               {% set back_linkname  = item.back_linkname %}
               {% set grid_classes_number = loop.index is divisibleby(2) ? ' offset-lg-4' : '' %}
               {% set card_classes   = loop.index is divisibleby(2) ? ' blg_flip-cards__back--right' : '' %}
               <div class="col-12 col-lg-1{{ grid_classes_number }} mb-lg-0 d-flex align-items-start justify-content-end sr-1">

                  <div class="blg_flip-cards__number label label-main label1-main label--xbold">
                     <span>{{ loop.index }}</span>
                     <div class="m_shadow m_shadow--front-c1-second m_shadow--back-c4-main m_shadow--back-1deg-minus"></div>
                  </div>

               </div>
               <div class="col-12 col-lg-7 sr-1">

                  <div class="blg_flip-cards__front pt-400 pb-200 pb-sm-400 pb-md-350 px-200 px-md-300">
                     <{{ heading_type|default("h3") }} class="blg_flip-cards__heading label label-main label2-main">
                        <span>
                           <span class="blg_flip-cards__number-inner">{{ loop.index ~ '.' }}</span>
                           {{ heading }}
                        </span>
                        <div class="m_shadow m_shadow--front-c2-main m_shadow--back-c1-main"></div>
                     </{{ heading_type|default("h3") }}>
                     <div class="tinymce mb-150 mb-sm-0">{{ front_text }}</div>
                     <button class="btn btn1-main"><span class="btn-text" data-linkname-back="{{ back_linkname }}" data-linkname-front="{{ front_linkname }}">{{ front_linkname }}</span></button>
                  </div>
                  <div class="blg_flip-cards__back{{ card_classes }} pt-200 pt-md-250 pb-250 pb-md-300 px-200 px-sm-300 px-md-350">
                     <div class="tinymce mb-0">{{ back_text }}</div>
                  </div>

               </div>
            </div>
         {% endfor %}

         {% if section_arrow %}
            {% include "/partials/modules/m_section-arrow.twig" with {
               anchor: all_fields.section_arrow_anchor,
               icon_light: true,
            } %}
         {% endif %}
      </section>

   </div>
   {% include "/partials/modules/m_section-bg-image.twig" with {
      bg_image_large: bg_image_large,
      bg_image_medium: bg_image_medium,
      bg_image_small: bg_image_small,
   } %}
</div>
