{% extends "base.twig" %}

{% block content %}
   <article class="l_article post-type-{{ post.post_type }}" id="post-{{ post.ID }}" data-template="single.twig">
      <header class="container">
         <h1>{{ post.title }}</h1>
         <div class="l_article__meta">
            <a href="{{ post.author.link }}">{{ post.author.display_name }}</a>
            <span>{{ post.date }}</span>
         </div>
      </header>

      <div class="l_builder">
         {% include '/partials/layouts/l_builder.twig' %}
      </div>

      {% if post.comments|length %}
         <section class="container">
            <div class="l_comments" id="comments">
               {% include "/partials/layouts/l_comments.twig" %}

               {% if post.comment_status == 'open' %}
                  {% include "/partials/layouts/l_comment-form.twig" %}
               {% endif %}
            </div>
         </section>
      {% endif %}
   </article>
{% endblock %}

{% block sidebar %}
   {{ sidebar }}
{% endblock %}
