{% extends "base.twig" %}

{% block content %}
   <article class="l_article post-type-{{ post.post_type }} pt-400 pt-md-600 pb-600 pb-md-800" id="post-{{ post.ID }}" data-template="single.twig">

      <header class="container container--narrow mb-400">
         <h1>{{ post.title }}</h1>
         <div class="l_article__meta">
            <a class="link link-second link1-main" href="{{ post.author.link }}">{{ post.author.display_name }}</a>
            <span>{{ post.date }}</span>
         </div>
      </header>

      <div class="l_builder">
         {% include '/partials/builder/builder-detail.twig' %}
      </div>

      {# if comments exists show comments and form #}
      {% if post.comments|length %}
         <section class="container container--narrow mb-400">
            <div class="l_comments" id="comments">
               {% include "/partials/layouts/l_comments.twig" %}

               {% if post.comment_status == 'open' %}
                  {% include "/partials/layouts/l_comment-form.twig" %}
               {% endif %}
            </div>
         </section>
      {# else show just form #}
      {% else %}
         {% if post.comment_status == 'open' %}
            <section class="container container--narrow mb-400">
               <div class="l_comments" id="comments">
                     {% include "/partials/layouts/l_comment-form.twig" %}
               </div>
            </section>
         {% endif %}
      {% endif %}

      {% if post.meta('post_related_posts').posts %}
         <section class="container container--narrow">
            {% include "/partials/modules/m_related-posts.twig" with {
               posts: post.meta('post_related_posts').posts,
            } %}
         </section>
      {% endif %}

   </article>

{% endblock %}


{% block sidebar %}
   {{ sidebar }}
{% endblock %}
