{# USES
   {% include "/partials/modules/m_post-teaser.twig" %}
#}

<section class="m_post-teaser">
   <figure class="m_post-teaser__img-wrapper">
      <img
         class="lazyload img-cover"
         alt="{{ post.thumbnail.alt }}"
         src="{{ theme.link }}/assets/img/placeholder-wide-large.png"
         data-src="{{ post.thumbnail.src('medium_large') }}"
         data-srcset="{{ fn('wp_get_attachment_image_srcset', post.thumbnail.id) }}"
         data-sizes="auto"
         data-pos-x="2"
         data-pos-y="2"
      />
   </figure>
   <div class="p-200">
      <h3 class="h4"><a href="{{ post.link }}" data-link="true">{{ post.title }}</a></h3>
      <p class="m_post-teaser__preview mb-150 p3">{{ post.preview.read_more('')|excerpt(15) }}
         <a class="m_post-teaser__preview-read-more link link-main link1-main" href="{{ post.link }}">{{ __( 'Weiterlesen', 'wptd' ) }}</a>
      </p>
      <div class="m_post-teaser__meta h6">
         <a class="link link-main link1-main" href="{{ post.author.link }}">{{ __( 'Autor:', 'wptd' ) }}&nbsp;{{ post.author }}</a>
         <span class="m_post-teaser__date">{{ post.date("d.m.Y") }}</span>
      </div>
   </div>
</section>
