{# USES
   {% include "/partials/builder/modules-global/blg_icon-teaser.twig" with {
         all_fields     : {},
         margin         : '',
         id             : '',
         toggle_heading : bool,
         teaser         : {},
      } %}
#}

<div class="container-wrapper {{ margin }}">
   <div class="container" {% if id %}id="{{ id }}"{% endif %}>

      <section class="blg_icon-teaser">

         <div class="row">
            <div class="col-12">
               {% if toggle_heading %}
                  {% include "/partials/modules/m_heading.twig" with {
                     wrapper_classes: 'mb-100 mb-md-200',
                     heading_classes: 't-center',
                     heading: all_fields.headings.heading,
                     heading_type: all_fields.headings.heading_type,
                     heading_sub: all_fields.headings.heading_sub,
                     heading_sub_type: all_fields.headings.heading_sub_type,
                  } %}
               {% endif %}
            </div>
         </div>

         <div class="row">
            {% if teaser|length == 1 %}
               {% set col_classes = 'col-lg-3' %}
            {% elseif teaser|length == 2 %}
               {% set col_classes = 'col-lg-3' %}
            {% elseif teaser|length == 3 %}
               {% set col_classes = 'col-lg-3' %}
            {% elseif teaser|length == 4 %}
               {% set col_classes = 'col-lg-3' %}
            {% endif %}

            {% for item in teaser %}
               {% set heading = item.intro.heading %}
               {% set heading_type = item.intro.heading_type %}
               {% set icon = item.intro.icon %}
               {% set teaser_text = item.intro.teaser_text %}
               
               <div class="{{ col_classes }}">
                  <div class="bgl_icon-teaser__heading-wrapper d-flex flex-row align-items-center">
                     <svg class="icon blg_icon-teaser__icon"><use href="{{ icon }}" xlink:href="{{ icon }}"/></svg>
                     <{{ heading_type|default("h4") }} class="h4 mb-0">{{ heading }}</{{ heading_type|default("h4") }}>
                  </div>
                  <div class="bgl_icon-teaser__teaser-text tinymce">
                     {{ teaser_text }}
                  </div>
               </div>

            {% endfor %}
         </div>

      </section>

   </div>
</div>
