<div id="respond">
    <p class="cancel-comment-reply">{{ fn('cancel_comment_reply_link', 'Antworten abbrechen') }}</p>

    <form id="commentform" class="l_comment-form" method="post" action="{{ site.site_url ~ '/wp-comments-post.php' }}" data-parsley-validate>

        <div class="l_comment-form__comment mb-100">

            <div class="row">
                {% if fn('is_user_logged_in') %}
                    <div class="col col-12">
                        <p class="l_comment-form__loggedin">
                            {{ __( 'Angemeldet als', 'wptd' ) }} {{ current_user.display_name ?: current_user.user_login }}.
                            <a class="l_comment-form__loggedin-out" href="{{ fn('wp_logout_url', post.link) }}" title="Von diesem Account abmelden">{{ __( 'Abmelden?', 'wptd' ) }}</a>
                        </p>
                    </div>
                {% endif %}

                <div class="col col-12">
                    <div class="l_comment-form__input-wrapper">
                        <label class="l_comment-form__label" for="author">{{ __( 'Ihr Kommentar*', 'wptd' ) }}</label>
                        <textarea class="l_comment-form__input l_comment-form__textarea trigger" required placeholder="Schreiben Sie Ihre Meinung..." name="comment" aria-label="{{ __( 'Ihr Kommentar', 'wptd' ) }}" cols="60" rows="3" id="comment"></textarea>
                    </div>
                </div>

                {% if fn('is_user_logged_in') == false %}
                    <div class="col col-12 col-sm-6">
                        <div class="l_comment-form__input-wrapper l_comment-form__hidden inactive">
                            <label class="l_comment-form__label" for="author">{{ __( 'Ihr Name*', 'wptd' ) }}</label>
                            <input class="l_comment-form__input" required placeholder="Max Mustermann" name="author" type="text" id="author" data-msg="Bitte geben Sie Ihren Namen ein">
                        </div>
                    </div>

                    <div class="col col-12 col-sm-6">
                        <div class="l_comment-form__input-wrapper l_comment-form__hidden inactive">
                            <label class="l_comment-form__label" for="email">{{ __( 'Ihre E-Mail-Adresse*', 'wptd' ) }}</label>
                            <input class="l_comment-form__input" required placeholder="max.mustermann@website.de" name="email" type="email" id="email">
                        </div>
                    </div>
                {% endif %}

                <div class="col col-12">
                    <div class="l_comment-form__agbs-wrapper l_comment-form__hidden inactive">
                        <label class="checkbox-wrapper" for="commentguidelines">
                            <input id="commentguidelines" type="checkbox" name="commentguidelines" required>
                            <span></span>
                        </label>
                        <p class="l_comment-form__agbs">
                            <span class="l_comment-form__agbs-text">
                                <a class="l_comment-form__agbs-link link link1-second" href="/kommentarrichtlinien/" target="_blank">{{ __( 'Kommentarrichtlinien', 'wptd' ) }}</a>
                                {{ __( 'sowie die', 'wptd' ) }}
                                <a class="l_comment-form__agbs-link link link1-second" href="/datenschutz/" target="_blank">{{ __( 'Datenschutzbestimmungen', 'wptd' ) }}</a>*
                            </span>
                            <span class="l_comment-form__required">{{ __( '*Pflichtfelder', 'wptd' ) }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {{fn('comment_id_fields')}}

        <div class="l_comment-form__submit l_comment-form__hidden inactive">
            <button id="submit" type="submit" name="Submit" class="l_comment-form__submit-btn btn btn1-second">{{ __( 'Senden', 'wptd' ) }}</button>
        </div>

        {% do action( 'comment_form', post.id ) %}
    </form>
</div>
