<footer class="l_pagination" itemprop="pagination">
   {% if pagination.prev %}
      <a id="prev_post" class="l_pagination__link l_pagination__link--btn" href="{{ pagination.prev.link }}" title="{{ __( 'Vorherige Seite', 'wptd' ) }}"><i class="b_btn--prev"><svg class="icon"><use href="#icon-left-arrow" xlink:href="#icon-left-arrow"/></svg></i></a>
   {% else %}
      <span id="prev_post" class="l_pagination__link l_pagination__link--btn l_pagination__link--inactive"><i class="b_btn--prev"><svg class="icon"><use href="#icon-left-arrow" xlink:href="#icon-left-arrow"/></svg></i></span>
   {% endif %}
   <ul class="l_pagination__pages" role="navigation">
   {% for page in pagination.pages %}
      <li class="l_pagination__page">
         {% if page.link %}
            <a href="{{ page.link }}" class="l_pagination__link">{{ page.title }}</a>
         {% else %}
            <span class="l_pagination__link l_pagination__link--current">{{ page.title }}</span>
         {% endif %}
      </li>
   {% endfor %}
   </ul>
   {% if pagination.next %}
      <a id="next_post" class="l_pagination__link l_pagination__link--btn" href="{{ pagination.next.link }}" title="{{ __( 'Nächste Seite', 'wptd' ) }}"><i class="b_btn--next"><svg class="icon"><use href="#icon-right-arrow-2" xlink:href="#icon-right-arrow-2"/></svg></i></a>
   {% else %}
      <span id="next_post" class="l_pagination__link l_pagination__link--btn l_pagination__link--inactive"><i class="b_btn--next"><svg class="icon"><use href="#icon-right-arrow-2" xlink:href="#icon-right-arrow-2"/></svg></i></span>
   {% endif %}
</footer>
