<aside class="l_sidebar">
   <div class="container mb-300">
      <h2 class="f3-second">{{ __( 'Sidebar', 'wptd' ) }}</h2>
      <div class="row">
         <div class="col col-12 col-md-6 mb-100 mb-md-0">
            <section class="l_sidebar__section">
               <h3>{{ __( 'Kategorien', 'wptd' ) }}</h3>
               <ul class="l_sidebar__section-list">
               {% for cat in categories %}
                  <li>
                     <a class="link link-main link2-main" href="{{ cat.link }}">{{ cat.name }}</a>
                  </li>
               {% endfor %}
               </ul>
            </section>
         </div>
         <div class="col col-12 col-md-6">
            <section class="l_sidebar__section">
               <h3>{{ __( 'Tags', 'wptd' ) }}</h3>
               <ul class="l_sidebar__section-list">
               {% for tag in tags %}
                  <li>
                     <a class="link link-main link2-main" href="{{ tag.link }}">{{ tag.name }}</a>
                  </li>
               {% endfor %}
               </ul>
            </section>
         </div>
      </div>
   </div>
</aside>
